{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="/">Retour</a>
    {% if error %}
        <div class="card text-center rounded border-danger m-1 mx-auto" style="max-width: 32rem">
            <div class="card-body m-2">
                <h1 class="text-danger ">Connexion</h1>
                <div class="text-center alert alert-dismissible alert-danger mt-5 ml-5 mx-auto rounded" style="width: 26rem">
                    <small><span class="ml-5">{{ error.messageKey|trans(error.messageData, 'security') }}</span></small>
                </div>
    {% else %}       
        <div class="card text-center rounded border-success m-4 mx-auto" style="max-width: 32rem">
            <div class="card-body m-2">
                <h1 class="text-success ">Connexion</h1>
    {% endif %}
            <form action="{{ path('security_login') }}" method="post" class="m-4">
                <div class="input-group form-group">
                    <input type="text" name="_username" class="form-control rounded" placeholder="Adresse e-mail" required autofocus>
                </div>
                <div class="input-group form-group">            
                    <input type="password" name="_password" class="form-control rounded" placeholder="Mot de passe" required>
                </div>
                <small><a href="{{ path('recherche_compte') }}" class="text-success">Informations de compte oubliées ?</a></small>
                <div class="mt-4 form-group col text-center">
                    <button type="submit" class="btn btn-outline-success rounded">S'identifier</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}