{% extends 'base.html.twig' %}

{% block title %}Responsable{% endblock %}

{% block body %}
    <div class="m-5 d-flex flex-wrap justify-content-center">
        <div class="m-5 card border-success mb-3 rounded" style="max-width: 20rem;">
            <div class="card-header text-white bg-success">Professeur</div>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer form-inline my-2 my-lg-0 justify-content-center">
                <a class="nav-link text-success my-2 my-sm-0" href="#">Afficher</a>
                <a class="nav-link text-success my-2 my-sm-0" href="{{ path('responsable_registration') }}">Ajouter</a>
            </div>
        </div>
        <div class="m-5 card border-success mb-3 rounded" style="max-width: 20rem;">
            <div class="card-header text-white bg-success">Etudiant</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="m-5 card border-success mb-3 rounded" style="max-width: 20rem;">
            <div class="card-header text-white bg-success">Module</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="m-5 card border-success mb-3 rounded" style="max-width: 20rem;">
            <div class="card-header text-white bg-success">Classe</div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
{% endblock %}
