{% extends 'base.html.twig' %}

{% block title %}Elements{% endblock %}

{% block body %}

<div class="card rounded border-success m-2 mx-auto" style="max-width: 85rem">
    <a class="m-3 btn btn-secondary" href="{{ path('prof_accueil', {'id':professeur.id}) }}">Retour</a>
    <h1 id="nav-breadcrumbs" class="mt-5 display-3 text-center text-success">Les élements</h1>
    <div class="m-5 d-flex flex-wrap justify-content-center">
        {% if element|length != 0 %}
            {% for element in element %}
            <div class="m-5 card border-success mb-3 rounded" style="max-width: 30rem;">
                <div class="card-header text-white bg-success"></div>
                <div class="card-body">
                    <h4 class="card-title">{{ element.nom }}</h4>
                    <p class="card-text text-center"></p>
                </div>
                <div class="card-footer form-inline my-2 my-lg-0 justify-content-center">
                    <a class="nav-link text-info my-2 my-sm-0" href="{{path('prof_elements_etudiants', {'idEl' : element.id , 'id' : professeur.id})}}">Voir etudiants</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="jumbotron m-5">
                <h3 class="display-5">Aucun élement vous a été affecté pour le moment</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}