{% extends 'base.html.twig' %}

{% block title %}GoodBye{% endblock %}

{% block body %}
  <div style="background:transparent !important" class="jumbotron">
  <h3 class="display-5">Suppression de compte</h3>
  <p></p>
  <p class="lead">Votre compte a été supprimé avec succés.<a href="{{ path('home')}}" class="text-success"> Cliquez ici pour revenir la page d'accueil</a></p>
  

{% endblock %}
