{% extends 'base.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('etudiant_compte' , { 'id': etudiant.id}) }}">Retour</a>
    <div class="card rounded border-success m-4 mx-auto" style="max-width: 30rem">
       
            <h4 class="mt-4 text-center text-success">Changement du mot de passe</h4>
            <hr class="my-4">
            
            <form action="{{ path('etudiant_updatepwd', {'id': etudiant.id}) }}" method="post" class="m-4">
                <div class="input-group form-group">            
                    <input type="password" name="password" class="form-control rounded" placeholder="Nouveau Mot de passe" required>
                </div>
                <div class="form-group col text-center">
                    <button type="submit" class="btn btn-outline-success rounded">Modifier</button>
                </div>
            </form>

{% endblock %}
